trunk/osats-1.02/wsdl/parse.wsdl

<?xml version="1.0"?>
<definitions name="OSATSDocumentParse"
        targetNamespace="urn:OSATSDocumentParse"
        xmlns:typens="urn:OSATSDocumentParse"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns="http://schemas.xmlsoap.org/wsdl/">

    <!-- Types for results -->
    <types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:OSATSDocumentParse">
            <xsd:complexType name="DocumentParseResult">
                <xsd:all>
                    <xsd:element name="message"             type="xsd:string"/>
                    <xsd:element name="firstName"           type="xsd:string"/>
                    <xsd:element name="lastName"            type="xsd:string"/>
                    <xsd:element name="address"             type="xsd:string"/>
                    <xsd:element name="city"                type="xsd:string"/>
                    <xsd:element name="state"               type="xsd:string"/>
                    <xsd:element name="zip"                 type="xsd:string"/>
                    <xsd:element name="email"               type="xsd:string"/>
                    <xsd:element name="phone"               type="xsd:string"/>
                    <xsd:element name="skills"              type="xsd:string"/>
                    <xsd:element name="education"           type="xsd:string"/>
                    <xsd:element name="experience"          type="xsd:string"/>
                </xsd:all>
            </xsd:complexType>
        </xsd:schema>
    </types>

    <!-- Messages -->
    <message name="DocumentParseMessage">
        <part name="key"                                    type="xsd:string"/>
        <part name="name"                                   type="xsd:string"/>
        <part name="size"                                   type="xsd:string"/>
        <part name="mimeType"                               type="xsd:string"/>
        <part name="contents"                               type="xsd:string"/>
    </message>

    <message name="DocumentParseResponse">
        <part name="return"                                 type="typens:DocumentParseResult"/>
    </message>

    <!-- Port -->
    <portType name="OSATSDocumentParsePort">
        <operation name="DocumentParse">
            <input message="typens:DocumentParseMessage"/>
            <output message="typens:DocumentParseResponse"/>
        </operation>
    </portType>

  <!-- Bindings for each operation -->

    <binding name="OSATSDocumentParseBinding"                type="typens:OSATSDocumentParsePort">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

        <operation name="DocumentParse">
            <soap:operation soapAction="urn:OSATSDocumentParseAction"/>

            <input>
                <soap:body use="encoded"
                namespace="urn:OSATSDocumentParse"
                encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded"
                namespace="urn:OSATSDocumentParse"
                encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>

    <!-- Endpoint -->
    <service name="OSATSDocumentParseService">
        <port name="OSATSDocumentParsePort" binding="typens:OSATSDocumentParseBinding">
            <soap:address location="http://soap.resfly.com/parse.php"/>
        </port>
    </service>

</definitions>